.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.login-box {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  transition: left 1s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.inRoom .login-box {
  left: 100vw;
}

.outRoom .login-box {
  left: 0;
}

.chatroom {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  transition: left 1s;
}

.inRoom .chatroom {
  left: 0;
}

.outRoom .chatroom {
  left: -100vw;
}

.message-container {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column-reverse;
}

.message-container .message {
  height: 50px;
  background-color: #2cc;
  width: 150px;
  border-radius: 5px;
}

.message-container .message.mine {
  align-self: flex-end;
}
